include includes/header.pug

div(class="container no-padding")
    div(class='row')
        div(class='six col')
            div(class='col-container' style="background: none")
                h1(class='subheader') Change Password
                label Password
                input(type='text' class='form')
                label Password Check
                input(type='text' class='form')
                button(class="search" id="update" style="width: 100%") Change Password
        div(class='six col')
            div(class='col-container' style="background: none")
                h1(class='subheader') User Settings
                label Email
                input(type='text' class='form' value=`${user.email}`)
                label Phone
                input(type='text' class='form' value=`${user.phone}`)
                button(class="search" id="update" style="width: 100%") Update
                