include includes/header.pug

div(class="container no-padding")
    div(class='six col')
        div(class='col-container' style="background: none")
            h1(class='subheader') Change Password
            label Password
            input(type='password' id="pw" class='form')
            label Password Check
            input(type='password' id="pwCheck" class='form')
            button(class="search" id="update" style="width: 100%" onclick="changePassword()") Change Password
    div(class='six col')
        div(class='col-container' style="background: none")
            h1(class='subheader') User Settings
            label Email
            input(type='text' class='form' id="email" value=`${user.email}`)
            label Phone
            input(type='text' class='form' id="phone" value=`${user.phone}`)
            button(class="search" id="update" style="width: 100%" onclick="userUpdate()") Update
script(src="../../../js/userCode.js")