/*      
. gARLIC SASS Framework
. v0.1
*/

//--> FONTS
// Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

//--> COLORS / FONTS
// COLORS
$green: #7ad68d;
$darkBg: #22222c;
$lightBg: #e3e3e3;
$navBg: #343746;
$darkblue: #111116;
$lightblue: #070708;
$pcolor: #d0d0d0;
// FONTS
$font: "Poppins",
sans-serif;

// --> MEDIA QUERIES
// BREAKPOINTS
$xsm: 300px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//--> GLOBAL
div#App {
  overflow-x: hidden;
  width: 100vw !important;
}

//--> NAVBAR
$navHeight: 85px;
$padding: 30px;

#nav {
  position: relative;
  z-index: 1000;
  height: $navHeight;
  width: 100%;
  background: $navBg;
  margin-bottom: $padding/2;
}

.nav-logo {
  height: $navHeight * 0.6;
  width: $navHeight * 0.6;
  margin-top: 16px;
  margin-right: 8px;
  float: left;
  background: url("../imgs/garlic-md.png") no-repeat;
  background-size: 60%;
  background-position: center;
  background-color: $darkblue;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: $md) {
  $padding: 20px;

  #nav {
    margin-bottom: $padding/2
  }
}

@media only screen and (max-width: $sm) {
  .nav-logo {
    height: $navHeight * 0.5;
    width: $navHeight * 0.5;
    margin-top: 19px;
  }

  $padding: 15px;

  #nav {
    margin-bottom: $padding/2
  }
}

h1.nav-title {
  color: $green;
  font-weight: 500;
  font-size: 1.7em;
  letter-spacing: 0px;
  float: left;
  line-height: $navHeight;
  user-select: none;
}

@media only screen and (max-width: $sm) {
  h1.nav-title {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: $xsm) {
  h1.nav-title {
    font-size: 1.3em;
  }
}

.nav-user {
  height: $navHeight;
  width: $navHeight * 0.5;
  position: relative;
  float: right;
  margin-right: -12px;
  display: none;
}

.nav-user-icon {
  height: $navHeight * 0.5;
  width: $navHeight * 0.5;
  background: url("../imgs/ph-profile-pic.png") no-repeat;
  background-size: 50%;
  background-position: center;
  background-color: $darkblue;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

//--> FORM STUFF
button.search {
  //float: right;
  background: $green;
  border: none;
  outline: none;
  font-size: 1.3em;
  color: $lightblue;
  font-weight: 700;
  padding: 8px 35px;
  margin-top: 15px;
  cursor: pointer;
  text-transform: lowercase;
  transition: background 0.15s cubic-bezier(0.39, 0.575, 0.565, 1),
    color 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}

button.search:hover {
  background: $lightblue;
  color: #fff;
}

@media only screen and (max-width: $sm) {
  button.search {
    width: 100%;
  }
}

//--> SEARCHBAR SHIT
@media only screen and (min-width: $lg) {
  form#searchbar {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}

//--> LOGIN/REGISTER
.loginRegisterContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: red;
}

h1.loginRegister {
  color: #fff;
  font-size: 2.2em;
  margin-top: -12px;
  font-weight: 500;
  user-select: none;
}

@media only screen and (min-width: $lg) {
  form#searchbar {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}

#loginSwitch {
  cursor: pointer;
  color: $navBg;
  transition: color 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

#loginSwitch:hover {
  color: #d1d1eb;
}

#loginForm {
  display: none;
}

#registerForm {}

.loginForm-active {
  display: block !important;
}

.registerForm-active {
  display: none !important;
}

// Hotel Display Stuff
img.hotel-img {
  width: 100%;
  height: 250px;
  background: url('../imgs/beach2.png') no-repeat;
  background-position: center;
  background-size: cover;
  border: none !important;
  outline: none !important;
  background-color: none !important;
}

div#row {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#searchColContainer {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
}

input#searchInput {
  padding: 28px 20px;
  font-size: 1.25em;
}

input#searchInput:focus {
  background: rgb(222, 234, 248);
}

button.dates {
  background: url("../imgs/calendar-white.png") no-repeat;
  background-color: $lightblue;
  background-size: 60%;
  background-position: center;
  border: none;
  outline: none;
  height: 58px;
  width: 58px;
  float: right;
  margin-top: -63.5px;
  cursor: pointer;
}

button#searchBtn {
  font-size: 1.3em;
  padding: 10px 40px;
  margin-top: 8px;
}

#searchContainer {
  transition: opacity .4s ease;
}

.searchContainer-active {
  opacity: 0;
  pointer-events: none;
}

input#dates {
  width: 49.2%
}

input#beds {
  width: 49.2%;
  float: right;
}

$padding: 25px;

#resultGroup {
  display: none;
  margin-top: 0;
}

.results-active {
  pointer-events: all !important;
  display: block !important;
}

#searchBack,
button#numResults {
  margin-left: $padding;
  margin-bottom: $padding/2;
  display: block;
}

button#numResults {
  background: #fff;
  position: absolute;
  right: $padding;
}

button#numResults:hover {
  background: #000;
  color: #fff;
}

@media only screen and (max-width: $md) {
  $padding: 20px;

  #searchBack {
    margin-left: $padding;
    margin-bottom: $padding/2;
    margin-top: $padding/2;
    width: auto;
  }

  h1#numResults {
    top: 108px;
    left: 250px;
  }

  button#numResults {
    right: $padding;
    margin-top: $padding/2;
  }
}

@media only screen and (max-width: $sm) {
  $padding: 15px;

  #searchBack {
    margin-left: $padding;
    margin-bottom: $padding/2;
    margin-top: $padding/2;
    width: auto;
    font-size: 1.2em;
    width: calc(50% - 22px);
    padding-right: 0;
    padding-left: 0;
  }

  input#dates {
    width: 100%
  }

  input#beds {
    width: 100%;
  }

  h1#numResults {
    top: 103px;
    left: 245px;
  }

  button#numResults {
    position: absolute;
    right: $padding;
    width: calc(50% - 22px);
    font-size: 1.2em;
    padding-right: 0;
    padding-left: 0;
    margin-top: $padding/2;
  }
}

$lightboxWidth: 600px;
$lightboxHeight: 100vh;

div#listing-lightbox {
  height: $lightboxHeight;
  width: $lightboxWidth;
  background: $darkBg;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .2s ease;
}

.listing-lightbox-active {
  opacity: 1 !important;
  pointer-events: all !important;
}

div#listing-lightbox-exit {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: opacity .2s ease;
}

div.listing-lightbox-exit-active {
  opacity: 0.8 !important;
  pointer-events: all !important;
}

h1#lb-name {
  color: #fff;
  font-weight: 500;
  margin-top: -18px;
  margin-bottom: 0;
  font-size: 3em;
}

h1#lb-addr {
  color: $green;
  font-weight: 500;
  margin-top: -15px;
  font-size: 1.4em;
}

h1#lb-stars {
  color: orange;
  font-weight: 500;
  margin-top: -10px;
  font-size: 1.4em;
  margin-bottom: 10px;
}

h1#lb-price {
  color: $green;
  font-weight: 700;
  margin-top: -5px;
  font-size: 1.3em;
}

h1#lb-phone {
  color: #e3e3e3;
  font-weight: 400;
  margin-top: -15px;
  font-size: 1em;
}

p#lb-desc-title {
  font-size: 1, 1em;
  margin-top: 10px;
  color: #fff;
  margin-bottom: -9px;
}

p#lb-desc {
  font-size: .9em;
  margin-top: 10px;
  color: #d0d0d0
}

#lb-fav {
  height: 23px;
  width: 23px;
  background: none;
  border: 2px solid yellow;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background .3s ease;
}

.lb-fav-active {
  background: yellow !important;
}

#lb-exit-btn {
  height: 25px;
  width: 25px;
  background: #fff;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  cursor: pointer;
}

#lb-exit-p {
  text-align: center;
  color: $darkBg;
  font-weight: 700;
  position: relative;
  top: -6px;
  font-size: 1.4em;
}

#lb-exit-btn:hover {
  opacity: .7
}

img#listing-lightbox-img {
  width: 100%;
  height: auto;
  max-height: 400px;
}

@media only screen and (max-width: $lightboxWidth) {
  div#listing-lightbox {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    transform: translateX(0%)
  }
}

.list-group {
  cursor: pointer;
  transition: opacity .2s ease;
}

.list-group:hover {
  opacity: .8;
}

// SETTINGS stuff
button#update {
  float: right;
}

div.settingsPic {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

div.settingsPic img {
  width: 100%;
  height: auto;
  max-height: 250px;
  max-width: 250px;
  position: relative;
  left: 50%;
  transform: translateX(-50%)
}

.favorite {
  height: 16px;
  width: 16px;
  position: absolute;
  z-index: 200;
  background: none;
  border: 2px solid yellow;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.favorite:hover {
  opacity: .7;
}

.fav-active {
  background: yellow !important;
}