html
    head
        title Garlic Hotel Search  
        link(type='text/css' rel='stylesheet' href='views/includes/css/Garlic.css')
        link(type='text/css' rel='stylesheet' href='views/includes/css/index.css')
        link(type='text/css' rel='stylesheet' href='views/includes/css/hamburger.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
    include nav.pug